SATNOGS_API_TOKEN=""
SATNOGS_STATION_ELEV=""
SATNOGS_STATION_ID=""
SATNOGS_STATION_LAT=""
SATNOGS_STATION_LON=""

# SATNOGS_NETWORK_API_URL="https://network-dev.satnogs.org/api/"
SATNOGS_NETWORK_API_URL="https://network.satnogs.org/api/"
NETWORK_USERNAME=""
NETWORK_PASSWORD=""
SATNOGS_NETWORK_API_QUERY_INTERVAL="60"
SATNOGS_NETWORK_API_POST_INTERVAL="180"

SATNOGS_POST_OBSERVATION_SCRIPT=""

# SATNOGS_SOAPY_RX_DEVICE="driver=airspymini"
# SATNOGS_ANTENNA="RX"
# SATNOGS_RX_SAMP_RATE="3e6"
# SATNOGS_RX_BANDWIDTH="2e5"
# SATNOGS_RF_GAIN="20"
# SATNOGS_BB_GAIN="0"
# SATNOGS_IF_GAIN="0"
# 
# SATNOGS_SOAPY_RX_DEVICE="driver=hackrf"
# SATNOGS_RX_SAMP_RATE="1e6"
# SATNOGS_RX_BANDWIDTH="2e5"
# SATNOGS_RF_GAIN="20"
# SATNOGS_BB_GAIN="0"
# SATNOGS_IF_GAIN="0"

SATNOGS_SOAPY_RX_DEVICE="driver=rtlsdr"
SATNOGS_ANTENNA="RX"
SATNOGS_RX_SAMP_RATE="1.024e6"
#SATNOGS_RX_BANDWIDTH="2e5"
SATNOGS_RF_GAIN="20"


# SATNOGS_DEV_ARGS=""
# SATNOGS_STREAM_ARGS=""
# SATNOGS_TUNE_ARGS=""
# SATNOGS_OTHER_SETTINGS=""
# SATNOGS_DC_REMOVAL=""

# SATNOGS_WATERFALL_AUTORANGE=""
# SATNOGS_WATERFALL_MIN_VALUE=""
# SATNOGS_WATERFALL_MAX_VALUE=""

SATNOGS_REMOVE_RAW_FILES="True"
ENABLE_IQ_DUMP="True"
IQ_DUMP_FILENAME="/tmp/iq.dat"
DISABLE_DECODED_DATA="False"

LOG_LEVEL="DEBUG"                 # CRITICAL ERROR WARNING INFO DEBUG
SCHEDULER_LOG_LEVEL="ERROR"        # CRITICAL ERROR WARNING INFO DEBUG
